<label>Adres Adı: </label>
<div class="mb-1">
    <input type="text" placeholder="Adres Adı" class="form-control"  id="AdresAdi" />
</div>

<label>Adres: </label>
<div class="mb-1">
    <input type="text" placeholder="Adres" class="form-control"  id="Adres" />
</div>
<label>Apartman No: </label>
<div class="mb-1">
    <input type="text" placeholder="Apartman No" class="form-control"  id="ApartNo" />
</div>
<label>Ev No: </label>
<div class="mb-1">
    <input type="text" placeholder="Ev No" class="form-control"  id="EvNo" />
</div>
<label>Şehir: </label>
<div class="mb-1">
    <input type="text" placeholder="Şehir" class="form-control"  id="Sehir" />
</div>
<label>Ülke: </label>
<div class="mb-1">
    <input type="text" placeholder="Ülke" class="form-control"  id="Ulke" />
</div>