@using E_TicaretOtomasyonu.Models
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5 class="pb-1 mb-4 text-muted">Ürünlerim</h5>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                @if (item.ImageURL != "0")
                {
                    <img class="card-img-top" src="@item.ImageURL" alt="Card image cap" />
                }
                else
                {
                    <img class="card-img-top" src="~/Content/img/yok.png" alt="Card image cap" />
                }
                <div class="card-body">
                    <h5 class="card-title">@item.UrunAdi</h5>
                    <p class="card-text">
                        @item.Aciklama
                    </p>
                    <p class="card-text">
                        @item.Fiyat₺
                    </p>
                    <a href="/MagazaUrunDuzenle/Index/@item.ID" class="btn btn-success">Düzenle</a>
                    <a href="/MagazaUrunDuzenle/DeleteProduct/@item.ID" class="btn btn-danger">Sil</a>
                </div>
            </div>
        </div>
    }

</div>

